<div class='container-fliud'>
  <div class="card entry">
    <div class="card-block">

      <h3 class="card-title text-uppercase">scurry</h3>
      <br>
      <h5 class="card-text entry">Create Activity: </h5>
      <br>

      <form action='/create-activity' method='post'>
        <div class="form-group">
         <label for="exampleSelect2">Choose a category</label>
         <select class="form-control" id="category" name='category' required>
           <option>Select One</option>
              {{#each activity}}
                <option>{{this.activity_name}}</option>
              {{/each}}
         </select>
       </div>
        <div class="form-group">
          <label for="date">When</label>
          <input type="date" class="form-control" name='date' placeholder="mm/dd/yyyy">
        </div>

        <div class="form-group">
          <label for="date">Where</label>
          <input type="text" class="form-control" name='location' placeholder="City, State, Zip or name of area">
        </div>

        <div class="form-group">
          <label for="date">Description</label>
          <textarea class="form-control" name='description' placeholder="Tell us about what you're doing."></textarea>
        </div>
        <button type='submit' class="btn btn-primary">Search</button>
      </form>

    </div>
  </div>
  <span class='other'><p>Want to find an Activity? <a href="/find-activity">Find Activity...</a>
  </span>

</div>
