<div class='container-fliud'>
  <div class="card entry">
    <div class="card-block">

      <h3 class="card-title text-uppercase">scurry</h3>
      <br>
      <h5 class="card-text entry">Create Activity:</h5>
      <br>

      <form action='/create-activity' method='post'>
        <input type="number" name="admin_id" hidden value={{user_id}}>
        <div class="form-group">

         <select class="form-control" name='activity_id' required>
           <option disabled selected hidden>Choose an Activity</option>
            {{#each activity}}
              <option>{{this.activity_name}}</option>
            {{/each}}

         </select>
       </div>
        <div class="form-group">
          <input type="text" class="form-control" name="title" placeholder="Event Name">
          <input type="date" class="form-control" name='when' placeholder="mm/dd/yyyy">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name='city' placeholder="City">
          <input type="text" class="form-control" name='state' placeholder="State">
          <input type="text" class="form-control" name="zip" placeholder="Zip">
        </div>

        <div class="form-group">
          <textarea class="form-control" name='description' placeholder="Tell us about what you're doing."></textarea>
        </div>
        <button type='submit' class="btn btn-primary">Create Event</button>
      </form>

    </div>
  </div>
  <span class='other'><p>Want to find an Activity? <a href="/find-activity">Find Activity...</a>
  </span>

</div>
