<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class='dasboardbox'>

  <h2 class='dashboard-h2'>Hello Human!</h2>

    <div class="row">

        <div id='rightrow' class="col-xs-6 col-md-4">
            <div class='card-deck'>
                <div class='dashboard-card'>
                    <div class="card-block" id='upcoming'>
                        <h5>Upcoming</h5>
                        <p class="card-text">Check out your upcoming activities</p>
                        <span class='weather-results'>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div id='middlerow' class="col-xs-6 col-md-4">
            <div class='card-deck'>
                <div class='dashboard-card'>
                    <div class="card-block" id='weather'>
                        <h5>Weather</h5>
                        <p class="card-text">Check out your upcoming activities</p>

                        <span id='weather-results'>
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>

        <div id='rightrow' class="col-xs-6 col-md-4">
            <div class='card-deck'>
                <div class='dashboard-card'>
                    <div class="card-block" id='photos'>
                        <h5>Photos</h5>
                        <p class="card-text">Check out your upcoming activities</p>
                        <span class='photo-results'>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
