<div class='container-fliud'>
  <div class="card entry" style='height: auto; width: 90vw'>
    <div class="card-block">
      <h4 class="card-text text-uppercase entry">Hey, Human Person{{full_name}}</h4>
    </div>

    <div class='card-deck-wrapper'>
      <div class='card-deck'>
        <div class='card'>
          <div class="card-block" id='upcoming'>
            <h5>Upcoming</h5>
            <p class="card-text">Check out your upcoming activities</p>
            <span class='events-results'>
            </span>
          </div>
        </div>
      </div>

      <div class='card-deck'>
        <div class='card'>
          <div class="card-block" id='weather'>
            <h5>Weather</h5>
            <p class="card-text">Check out your upcoming activities</p>
            <span class='weather-results'>
            </span>
          </div>
        </div>
      </div>

      <div class='card-deck'>
        <div class='card'>
          <div class="card-block" id='photos'>
            <h5>Photos</h5>
            <p class="card-text">Check out your upcoming activities</p>
            <span class='photo-results'>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
