<div class='container-fliud'>
  <div class="card entry">
    <div class="card-block">

      <h3 class="card-title text-uppercase"><img src="/images/scurrylogo.gif" alt='scurry logo' class='headerLogo'>Scurry</h3>
      <h5 class="card-text entry">{{title}}</h5>

      <p>Are you sure you want to delete {{title}}?</p>


    </div>
      <a href="/{{id}}/delete" class="btn btn-danger"> Yes </a>
      <a href="/scurry-activity/{{id}}" class="btn btn-primary"> No </a>
  </div>



</div>
