<div class="wrapper">
  <div class='container-fliud'>
    <div class="card entry">
      <div class="card-block">

        <h3 class="card-title text-uppercase"><img src="/images/scurrylogo.gif" alt='scurry logo' class='headerLogo'>scurry</h3>
        <br>
        <h5 id='title' class="card-text entry">Find Activity: </h5>
        <br>

        <form action='/scurry-activity/find/' method='get'>
          <div class="form-group">
           <select class="form-control" id="category" name='id' required>
             <option>Choose an Activity</option>
             {{#each activity}}
              <option name="act_id" value="{{this.id}}">{{this.activity_name}}</option>
             {{/each}}
           </select>
         </div>
        
          <button type='submit' class="btn btn-primary">Scurry</button>
        </form>

      </div>
    </div>
  <span class='other'><p>Want to create an event? <a href="/create-activity">Create Activity...</a>
  <p>  <a href="/dashboard">Dashboard</a></p>
  </span>
  </div>
</div>
