<div class='container-fliud'>
  <div class="card entry">
    <div class="card-block">

      <h3 class="card-title text-uppercase">scurry</h3>
      <br>
      <h5 class="card-text entry">Find Activity: </h5>
      <br>

      <form action='/scurry-activity/{{id}}' method='post'>
        <div class="form-group">
         <select class="form-control" id="category" name='activity_name' required>
           <option>Choose an Activity</option>
           {{#each activity}}
            <option name="selected">{{this.activity_name}}</option>
           {{/each}}
         </select>
       </div>
        <div class="form-group">
          <input type="date" class="form-control" name='date' placeholder="mm/dd/yyyy">
        </div>

        <button type='submit' class="btn btn-primary">Scurry</button>
      </form>

    </div>
  </div>
  <span class='other'><p>Want to create an event? <a href="/create-activity">Create Activity...</a>
  </span>

</div>
