<div class='container-fliud'>
  <div class="card entry">
    <div class="card-block">
      <h3 class="card-title text-uppercase">scurry</h3>
      <p class="card-text">We help you find activities to do and people to do them with!</p>
      <span><a href="/login" class="btn btn-primary">Login</a>
      <a href="/register" class="btn btn-primary">Register</a></span>
    </div>
  </div>
</div>
