<div class="wrapper">
  <div class='container-fliud'>
    <div class="card entry">
      <div class="card-block">

        <h3 class="card-title text-uppercase"><img src="/images/scurrylogo.gif" alt='scurry logo' class='headerLogo'>scurry</h3>
        <br>
        <h5 class="card-text entry">{{title}}</h5>
        <br>
        <div class="slick">
          {{#each events}}

            <div>{{this.title}}<span><a href="/scurry-activity/{{this.id}}" class="btn btn-info">yes</a></span></div>

          {{/each}}

        </div>
      </div>
    </div>
    <span class='other'><p>Want to create an activity? <a href="/create-activity">Create Activity...</a>
    <p><a href="/dashboard">(dashboard)</a></p>
    </span>
  </div>
</div>
