<div id="wrapper">
  <div class='container-fliud'>
    <div class="card entry">
      <div class="card-block">

        <a href='/dashboard'><h3 class="card-title text-uppercase"><img src="/images/scurrylogo.gif" alt='scurry logo' class='headerLogo'>scurry</h3></a>
        <hr>
        <br>
        <div class="slick">
          {{#each events}}
          <div class='row'>
            <div class='card-deck'>
            <div class='dashboard-card'>
              <h5>{{this.title}}</h5>

              <span><a href="/scurry-activity/{{this.id}}" class="btn btn-info">yes</a></span>
              
            </div>
            </div>
          </div>

          {{/each}}
        </div>
      </div>
      <span class='other'><p>Want to create an activity? <a href="/create-activity">Create Activity...</a>
      </span>
    </div>

  </div>
</div>
