<div class="wrapper">
  <div class='container-fliud'>
    <div class="card entry">
      <div class="card-block">

        <h3 class="card-title text-uppercase"><img src="/images/scurrylogo.gif" alt='scurry logo' class='headerLogo'>scurry</h3>
        <br>
        <h5 class="card-text entry">{{title}}</h5>
        <br>
          <h1>{{data.title}}</h1>
          <span class='yesNo'><button type='no' class="btn btn-primary" id='no'>No</button>
          <button type='yes' class="btn btn-primary" id='yes'>yes</button></span>
      </div>
    </div>
    <span class='other'><p>Want to create an activity? <a href="/create-activity">Create Activity...</a>
    <p><a href="/dashboard">(dashboard)</a></p>
    </span>
  </div>
</div>
