<div class='container-fliud'>
  <div class="card entry">
    <div class="card-block">

      <h3 class="card-title text-uppercase">scurry</h3>
      <br>
      <h5 class="card-text entry">Hiking{{event}}</h5>
      <br>



        <span class='yesNo'><button type='no' class="btn btn-primary" id='no'>No</button>
        <button type='yes' class="btn btn-primary" id='yes'>yes</button></span>

<<<<<<< HEAD
=======

>>>>>>> 21421ac82b881affbcd42369ab3f2399774a16af
    </div>
  </div>
  <span class='other'><p>Want to create an activity? <a href="/create-activity">Create Activity...</a>
  </span>

</div>
