
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(/images/footer_lodyas.png)center center fixed;
}

.wrapper {
  padding: 50px;
  font-family: 'Roboto Slab', serif;
  font-size: .9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: url(/images/footer_lodyas.png)center center fixed;
}

a {
  color: #00B7FF;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.yesNo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  text-align: center;
}

.div-card{
  margin-top: 10em;
}

.card-text{
  text-align: center;
}

.card {
  padding: 0 5% 5% 5%;
  width: 60vw;
}

.btn {
  margin-top: 3%;
  color: #99DDDD;
}
.btn-special {
  height: 35vh;
  width: 20vw;
}

.other {
  color: antiquewhite;
}

/*Index page*/
.carousel-control{
  opacity: 0;
}

.home-button{
  display: flex;
  justify-content: center;
}

/*Dashboard*/
.dashboardbox{
  padding: 2% 1% 0 1%;
  border-radius: 2%;
  background-color: white;
}

.card-block{
  text-align: center;
}

.dashboard-card {
  height: 30vw;
  height: 25vw;
  margin-bottom: 6%;
  border-radius: 3%;
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
  overflow: scroll;
}

.middle {
  height: 52vw;
  padding-bottom: 0;
}

.button {
  background-color: #99DDDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7.5vw;
}

.dashboard-h2{
text-align: center;
}

.form-control {
  margin-bottom: 5%;
}

#title{
  float: left;
}

.report {
  margin-bottom: 10%;
  font-weight: normal;
  font-variant: normal;
  font-size: .8em;
}

.weatherTitle {
  font-weight: bold;
  font-size: 1.2em;
}

#profile {
  display:flex;
  justify-content: center;
  align-items: center;
}
.profilepic{
  max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#upcoming{
  height: 30%;
  display: block;
}

#map {
  flex: 1;
  height: 60%;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.headerLogo {
  margin-top: -2%;
  width: 10%;
  height: auto;
}

.headerLogoIndex {
  margin-top: -2%;
  width: 15%;
  height: auto;
}
