body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /*background: url('https://source.unsplash.com/2100x1200/daily?nature/');*/
  background: url(/images/footer_lodyas.png)center center fixed;
}

a {
  color: #00B7FF;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.yesNo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  text-align: center;
}

.div-card{
  margin-top: 10em;
}

.card-text{
  text-align: center;
}

.card {
  padding: 0 5% 5% 5%;
  width: 60vw;
}

.btn {
  margin-top: 3%;
}

.other {
  color: antiquewhite;
}

/*Index page*/

.carousel-control{
  opacity: 0;
}

.home-button{
  display: flex;
justify-content: center;
}

/*Dashboard*/

.dasboardbox{
  padding: 2em;
  background-color: white;
}
.card-block{
  text-align: center;
}
.dashboard-card{
  height: 75vh;
}

.dashboard-h2{
text-align: center;
}
