body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: url(/images/footer_lodyas.png)center center fixed;
}

a {
  color: #00B7FF;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.yesNo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  text-align: center;
}

.div-card{
  margin-top: 10em;
}

.card-text{
  text-align: center;
}

.card {
  padding: 0 5% 5% 5%;
  width: 60vw;
}

.btn {
  margin-top: 3%;
  color: #99DDDD;
}
.btn-special {
  height: 35vh;
  width: 20vw;
}

.other {
  color: antiquewhite;
}

/*Index page*/
.carousel-control{
  opacity: 0;
}

.home-button{
  display: flex;
  justify-content: center;
}

/*Dashboard*/
.dasboardbox{
  padding: 2% 1% 0 1%;
  background-color: white;
}

.card-block{
  text-align: center;
}

.dashboard-card{
  height: 40vh;
  margin-bottom: 6%;
  border-radius: 3%;
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
}

.middle {
  height: 81.5vh;
}

.button {
  background-color: #99DDDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-h2{
text-align: center;
}

.form-control{
  margin-bottom: 5%;
}

#title{
  float: left;
}

#profile{
  display:flex;
  justify-content: center;
  align-items: center;
}
.profilepic{
  max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#upcoming{
  height:33vh;
  display: block;
}
